body {
    background-image: linear-gradient(to left, rgb(51, 255, 0),blue);
}

button{
    background-color: black;
    color: orange;
    border: 4px solid orange ;
    border-radius: 50% ;
    height: 50px;
    width: 50px;
    margin: 7px;
    padding: 5px;
    font-size: 25px;
    outline: none;
}
button:hover{
    background-color: rgb(67, 75, 80);
    transition-duration: 0.3s;
}

#calculator{
    background-color: rgba(128, 33, 141, 0.548);
    justify-items: center;
    margin: auto;
    margin-top: 50px;
    width: 400px;
    height: 400px;
    padding: 6px;
    border: 6px solid orange;
    border-radius: 30px;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);;
    justify-items: center;
    margin:auto;
}

#result-container{
    background-color: rgb(0, 0, 0);
    border: 2px solid orange;
    border-radius: 20px;
    height: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#result-container p{
    text-align: right;
    color: greenyellow;
    font-size: 40px;
    line-height: 3px;
    margin-right: 10px;
}






