body {
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0.883),blue);
}

button{
    background-color: black;
    color: orange;
    border: 4px solid orange ;
    border-radius: 5% ;
    font-size: 25px;
    outline: none;
}
button:hover{
    font-size: larger;
    transform: scale(1.2);
    color: rgb(89, 253, 24);
    transition-duration: 0.5s;
    cursor: pointer;
}

#calculator{
    background-color: rgba(22, 34, 87, 0.664);
    justify-items: center;
    margin: auto;
    margin-top: 50px;
    width: 340px;
    height: 550px;
    padding: 6px;
    border: 6px solid orange;
    border-radius: 30px;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(5, 80px);
    justify-content: center;
}

#result-container{
    background-color: rgb(0, 0, 0);
    border: 2px solid orange;
    border-radius: 20px;
    height: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#result-container p{
    text-align: right;
    color: greenyellow;
    font-size: 40px;
    line-height: 3px;
    margin-right: 10px;
}


.wide-button{
    grid-column: span 2;
}

.long-button{
    grid-row: span 2;
}